{% extends "../base.html" %}

{% block title %}Bakkle device detail{% end %}

{% block content %}

{% if device %}
  Details for device: {{ device.id }}
  <br/>ID: {{ device.id }}
  <br/>UUID: {{ device.uuid }}
  <br/>APNS: {{ device.apns_token }} 
  <br/>DateAdded: {{ device.date_added }} 
  <br/>Auth Token: {{ device.auth_token }}
  <br/>LastSeen: {{ device.last_seen_date }} (<a href="{{ reverse_url('deviceNotify', device.id) }}">Notify</a>)
  <br/>Location: {{ device.user_location }}
  <br/>Software Version: {{ device.app_version }}
{% else %}
  <p> No device with that id </p>
{% end %}

{% end %}
