.DS_Store
iOS/Bakkle/Bakkle.xcodeproj/project.xcworkspace/xcuserdata/pethessa.xcuserdatad/UserInterfaceState.xcuserstate
iOS/Bakkle/Bakkle.xcodeproj/xcuserdata/pethessa.xcuserdatad/xcschemes/Bakkle.xcscheme
iOS/Bakkle/Bakkle.xcodeproj/xcuserdata/pethessa.xcuserdatad/xcschemes/xcschememanagement.plist
*.pyc
*.tmp
www/bakkle/db.sqlite3
iOS/Bakkle/Bakkle.xcodeproj/project.xcworkspace/xcuserdata/local-tandoni.xcuserdatad/UserInterfaceState.xcuserstate
iOS/Bakkle/Bakkle.xcodeproj/xcuserdata/local-tandoni.xcuserdatad/xcschemes/Bakkle WatchKit App.xcscheme
iOS/Bakkle/Bakkle.xcodeproj/xcuserdata/local-tandoni.xcuserdatad/xcschemes/Bakkle.xcscheme
iOS/Bakkle/Bakkle.xcodeproj/xcuserdata/local-tandoni.xcuserdatad/xcschemes/xcschememanagement.plist
iOS/Bakkle/Bakkle.xcworkspace/xcuserdata/local-tandoni.xcuserdatad/UserInterfaceState.xcuserstate
iOS/Bakkle/Bakkle.xcworkspace/xcuserdata/local-tandoni.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
iOS/Bakkle/Pods/Pods.xcodeproj/xcuserdata/local-tandoni.xcuserdatad/xcschemes/Pods-Bakkle-HanekeSwift.xcscheme
iOS/Bakkle/Pods/Pods.xcodeproj/xcuserdata/local-tandoni.xcuserdatad/xcschemes/Pods-Bakkle.xcscheme
iOS/Bakkle/Pods/Pods.xcodeproj/xcuserdata/local-tandoni.xcuserdatad/xcschemes/xcschememanagement.plist
www/img/Rabbit-in-hutch-007.jpg
www/img/2015-05/4_b8a9b96b83.png
www/img/2015-05/4_a06232f721.png
www/img/2015-05/4_9425b677e1.png
www/img/2015-05/4_8ea4feec13.png
www/img/2015-05/4_7dd09513ed.png
www/img/2015-05/4_66bb852501.png
www/img/2015-05/4_51fa866ede.png
*.orig
www/bakkle/img/2015/04/30/1705bbfae6.png
www/img/2015-05/1_3885db7620.png
www/img/2015-05/1_44893a2fd3.png
www/img/2015-05/1_77c1dd8469.png
www/img/2015-05/1_88b47cdf76.png
www/img/2015-05/1_e151ffaad2.png
www/img/2015-05/1_ebc6ea9b86.png
www/img/2015-05/1_ef5f47f4f7.png
www/img1_f857481da5e2ee85d0f0c398b8d7b814.jpg
www/img/2015-05/4_1b7b2b69b6.png
www/img/2015-05/4_026c3007b9.png
www/img1_d326aa6c55a8ce185d4530e0db3859c.jpg
www/img/2015-05/1_f8824f26ab.png
iOS/Bakkle/Bakkle.xcodeproj/project.xcworkspace/xcuserdata/xiaox.xcuserdatad/UserInterfaceState.xcuserstate
iOS/Bakkle/Bakkle.xcodeproj/xcuserdata/xiaox.xcuserdatad/xcschemes/Bakkle WatchKit App.xcscheme
iOS/Bakkle/Bakkle.xcodeproj/xcuserdata/xiaox.xcuserdatad/xcschemes/Bakkle.xcscheme
iOS/Bakkle/Bakkle.xcodeproj/xcuserdata/xiaox.xcuserdatad/xcschemes/xcschememanagement.plist
iOS/Bakkle/Bakkle.xcworkspace/xcuserdata/xiaox.xcuserdatad/UserInterfaceState.xcuserstate
iOS/Bakkle/Pods/Pods.xcodeproj/xcuserdata/xiaox.xcuserdatad/xcschemes/Pods-Bakkle-HanekeSwift.xcscheme
iOS/Bakkle/Pods/Pods.xcodeproj/xcuserdata/xiaox.xcuserdatad/xcschemes/Pods-Bakkle.xcscheme
iOS/Bakkle/Pods/Pods.xcodeproj/xcuserdata/xiaox.xcuserdatad/xcschemes/xcschememanagement.plist
