.DS_Store
iOS/Bakkle/Bakkle.xcodeproj/project.xcworkspace/xcuserdata/pethessa.xcuserdatad/UserInterfaceState.xcuserstate
iOS/Bakkle/Bakkle.xcodeproj/xcuserdata/pethessa.xcuserdatad/xcschemes/Bakkle.xcscheme
iOS/Bakkle/Bakkle.xcodeproj/xcuserdata/pethessa.xcuserdatad/xcschemes/xcschememanagement.plist
*.pyc
*.tmp
www/bakkle/db.sqlite3
iOS/Bakkle/Bakkle.xcodeproj/project.xcworkspace/xcuserdata/local-tandoni.xcuserdatad/UserInterfaceState.xcuserstate
iOS/Bakkle/Bakkle.xcodeproj/xcuserdata/local-tandoni.xcuserdatad/xcschemes/Bakkle WatchKit App.xcscheme
iOS/Bakkle/Bakkle.xcodeproj/xcuserdata/local-tandoni.xcuserdatad/xcschemes/Bakkle.xcscheme
iOS/Bakkle/Bakkle.xcodeproj/xcuserdata/local-tandoni.xcuserdatad/xcschemes/xcschememanagement.plist
