{% extends "base.html" %}

{% block title %}Bakkle Items{% endblock %}

{% block content %}

{% if item_list %}
  <ul>
    {% for item in item_list %}
      <li><a href="{% url 'items:detail' item.id %}">{{ item.id }}:</a> {{ item.title }}
      <br />&nbsp&nbsp&nbsp&nbspStatus: {{ item.status }}
      <br/>&nbsp&nbsp&nbsp&nbsp<a href="{% url 'items:mark_as_deleted' item.id %}">Delete</a> | <a href="{% url 'items:mark_as_spam' item.id %}">Mark as Spam</a></li>
    {% endfor %}
  </ul>
{% else %}
  <p> no items present </p>
{% endif %}

{% endblock %}
