html, body {
    font-family: sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

h1 {
    text-align: center;
}

.ui-content {
}
.inset-value-panel {
    padding: 20px;
}

.bakkle-menu {
    background: #323232;
}

.setting {
    margin-bottom: 20px;
}
.ui-page-theme-a .ui-bar-inherit {
    background: #36b454; /* green */
}
.ui-page-theme-a {
    background: white;
}
.ui-title {
    color: white;
}

.ui-icon-bakklebars:after {
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20enco…h12c0.553%2C0%2C1-0.447%2C1-1S13.553%2C10%2C13%2C10z%22%2F%3E%3C%2Fsvg%3E");
}
